.horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

ul{
    list-style-type: none;
}

.page-width{
    width: 1110px;
}

button, .icon-button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social{
    justify-content: space-between;
    width: 140px;
}

.social i{
    color: #777777;
    font-size: 1em;
}

.drop-down{
    color: #222222;
}

.drop-down:hover{
    color: #edc36e;
    transition: 0.5s;
}

.box-gray{
    background-color: rgb(245, 245, 245);
}