.horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

ul{
    list-style-type: none;
}

.page-width{
    width: 1110px;
}

button, .icon-button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-gray{
    background-color: rgb(245, 245, 245);
}

.relative{
    display: static;
    position: relative;
}

.absolute{
    position: absolute;
}

.width-zero{
    width: 0px;
}

.height-zero{
    height: 0px;
}

.size-zero{
    width: 0px;
    height: 0px;
}

.pivot-middle-center{
    transform: translate(-50%, -50%);
}

.pivot-top-center{
    transform: translate(-50%, 0%);
}

.pivot-top-left{
    transform: translate(0%, 0%);
}

.pivot-top-right{
    transform: translate(-100%, 0%);
}