.drop-down .container{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 10px);
    transition: 0.5s;
    z-index: 10;
}

.drop-down:hover .container{
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s;
}

.drop-down .container .drop-down-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: #efefef solid 1px;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    width: inherit;
    height: max-content;
    -webkit-box-shadow: 2px 3px 7px 0px #989898;
    -moz-box-shadow: 2px 3px 7px 0px #989898;
    box-shadow: 2px 3px 7px 0px #989898;
}

.drop-down .container .drop-down-list li{
    padding-left: 7px;
}

.drop-down .container .drop-down-list li:not(:last-of-type){
    border-bottom: 2px dotted #efefef;
}