.header-top{
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: #efefef solid 1px;
    height: 44.6px;
}

.header-top .page-width{
    justify-content: space-between;
}

.header-top *{
    color: #555555;
}

.currency-language{
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.currency-language > div {
    margin-left: 10px;
    margin-right: 10px;
}

.currency-language .container{
    width: 90px;
    padding-top: 10px;
}

.title{
    justify-content: center;
    margin-bottom: 30px;
}

.title .page-width{
    height: 100px;
    padding-top: 30px;
    align-items: flex-start;
}

.title .page-width > *{
    top: 90px;
    margin-top: 0px;
}

.social{
    justify-content: space-between;
    width: 125px;
    padding-top: 4px;
}

.social i{
    color: #777777;
    font-size: 0.98em;
}

.logo-corano{
    
}

.hud-buttons{
    width: 200px;
    justify-content: space-between;
}

.hud-buttons i{
    font-size: 1.3em;
}
