.nav-sticky{
    position: sticky;
    top: 0;
    background-color: var(--color-back);
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 100;
}

.main-nav{
    width: 450px;
}

.main-nav *{
    font-size: 0.9rem;
}

.main-nav .container{
    width: 200px;
    padding-top: 20px;
}

.main-nav .drop-down .container .drop-down-list li{
    padding-left: 12px;
    height: 46px;
    line-height: 46px;
}